{% extends "base.html" %}
{% load humanize %}
{% load url from future%}

{% block content %}
  
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Homepage</h1>
      <p>This homepage will contain personal stories, the map, and body animation.</p>

      <div class="span9">
 <h1>Bootstrap starter template</h1>
 <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

<p> Sample slider we can implement.</p>	  
	  
	  <div id="myCarousel" class="carousel slide">

<!-- Carousel items -->
<div class="carousel-inner">
<div class="active item"><img class="imgfullscreen" src="{{ STATIC_URL }}img/bloodsugar.JPG" alt="Field Hockey" />
<div class="carousel-caption"> 
<h4> Text will go here </h4> 
</div>
</div>

<div class="item"><img class="imgfullscreen" src="{{ STATIC_URL }}img/feet.jpg" alt="Football" />
<div class="carousel-caption"> 
<h4> Text will go here </h4> 
 </div>
</div>


<div class="item"><img class="imgfullscreen" src="{{ STATIC_URL }}img/eye.jpg" alt="basketball" />

<div class="carousel-caption"> 
<h4> Text will go here </h4> 

 </div>
</div>
</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
      
      
      
      
    </div> <!-- /container -->
		




{% endblock %}

