{% extends "base.html" %}
{% load humanize %}
{% load url from future%}

{% block content %}
  
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Homepage</h1>
      <p>This homepage will contain personal stories, the map, and body animation.</p>

      <div class="span9">
 <h1>Bootstrap starter template</h1>
 <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

<p> Sample slider we can implement.</p>	  
	  
	  <div id="myCarousel" class="carousel slide">

<!-- Carousel items -->
<div class="carousel-inner">
<div class="active item"><img class="imgfullscreen" src="{{ STATIC_URL }}img/bloodsugar.JPG" alt="Blood Sugar" />
<div class="carousel-caption"> 
<h4> Text will go here </h4> 
</div>
</div>

<div class="item"><img class="imgfullscreen" src="{{ STATIC_URL }}img/feet.jpg" alt="Feet" />
<div class="carousel-caption"> 
<h4> Text will go here </h4> 
 </div>
</div>


<div class="item"><img class="imgfullscreen" src="{{ STATIC_URL }}img/eye.jpg" alt="Eye" />

<div class="carousel-caption"> 
<h4> Text will go here </h4> 

 </div>
</div>
</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
      
<iframe src="/graphic/" width="100%"></iframe>      



 <div class="span12">
       <div id="ca-container" class="ca-container">
          <div class="ca-wrapper">
                <div class="ca-item ca-item-1">
            <div class="ca-item-main">
            <div class="ca-icon"></div>
                <h3>Visual</h3>
                <h4>
                  <span class="ca-quote">&ldquo;</span>
                  <span>One day, I was driving to work and I could't tell what color the traffic light was. Straight lines became wavy. Objects disappeared from my sight...</span>
                 </h4>
                      <a href="#" class="ca-more">more...</a>
                  </div>
                                       <div class="ca-content-wrapper">
                          <div class="ca-content">
                        <h6>Amanda02 & Amy Rowe Smith</h6>
                        <a href="#" class="ca-close">close</a>
                        <div class="ca-content-text">
                        <p>"One day, I was driving to work and I could't tell what color the traffic light was. Straight lines became wavy. Objects disappeared from my sight. I felt like I was in a Harry Potter movie, like when the bus lengthens and shortens.  I couldn't read or distinguish letters. One day I was at the grocery store when I began seeing strobing lights which got worse and worse until I was afraid to move. I am being treated now, and I am fortunate that medication is available to restore some degree of sight for people with Macula Edema, but I still have to deal with monthly injections in each of my eyes and eventually cataract surgery when the Retinopathy is sufficiently under control..."</p>
                        <p>"Type 1 Diabetic for 30+ years (I am 33 now). At the age of 25 I lost my eye sight due to retinal detachments in both eyes (diabetic retinopathy). I have had 14+ eye surgeries to repair my vision (with some success) I currently do not work/drive due to my vision impairment I am however able to live independently and raise my 8 year old daughter on my own. T1D is a HORRIBLE disease to live with...you have to fight it 24/7 365 you get no breaks, no vacations from this...but the key is for YOU to control it, don't ever let it control YOU!!"</p>
                        	
                        </div>
                           
                                              </div>
                    </div>
            </div>
                    <div class="ca-item ca-item-2">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Orthopedic</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>I have at this time is some diabetic neuropathy in my feet and legs below the knees.</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Carol Stout</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>"The only problem that I have at this time is some diabetic neuropathy in my feet and legs below the knees. It is not so severe that I can't feel anything but it is just enough that I won't always feels some things. I periodically have my husband check the bottoms of my feet for me since I can't do that. When I go to the Beauty School to get my toes nails clipped I also have them check my feet for me. The Beauty School is cheaper then the Foot Care clinics and does more for my feet then I've heard the clinics do. I have been a diabetic for over 10 years now."</p>
                                 </div>
                           
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-3">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Sleep</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>The high blood cause a sound but insufficient sleep time wise and possibly quality wise also..</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Anon</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>"This I find the worst part of diabetes. Well the painful thigh muscle also hurts sleep. Last night I went to sleep with probably 10 had bowl of starchy pudding slept very soundly for 5 hours and that was all unable to sleep any more so the high blood cause a sound but insufficient sleep time wise and possibly quality wise also..."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-4">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Treatment</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span> No horror stories here </span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Nan-OH</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                               
                                <p>"Here is a personal story, T2 with major medical issues PRIOR to being diagnosed as diabetic. My medical issues have NOT gotten worse nor have I developed more medical issues since being diagnosed. NO horror stories here, just improved general health and a better awareness of my body."</p>

				<p>I use basal/bolus insulin treatment and LC/HF food plans. Have never been able to use oral medications like Metformin nor can I use artificial sweeteners."</p>
                                </div>
                                <ul>
                                    <li><a href="#">Read more</a></li>
                                    <li><a href="#">Share this</a></li>
                                    <li><a href="#">Become a member</a></li>
                                    <li><a href="#">Donate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-5">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Injury</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>I got a bruise, but instead of it going, it grew. My sugars at the time were uncontrollable & it turned to gangrene.</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>April</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>"Like many people with this - I have a story. During my teen years, ignoring diabetes as you would do at that age, and thinking it could never happen to me - I got gangrene on my left shin. It happened so innocently - making a bed & banging it. I got a bruise, but instead of it going, it grew. My sugars at the time were uncontrollable & it turned to gangrene. I was very lucky to have it saved."</p>
                                </div>
                                <ul>
                                    <li><a href="#">Read more</a></li>
                                    <li><a href="#">Share this</a></li>
                                    <li><a href="#">Become a member</a></li>
                                    <li><a href="#">Donate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-6">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <h3>Diet</h3>
                            <h4>
                                <span class="ca-quote">&ldquo;</span>
                                <span>I now can't eat many of the things that I used to enjoy without my tests reading way too high.</span>
                            </h4>
                                <a href="#" class="ca-more">more...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6>Janice Portier</h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>i was diagnosed with Type 2 Diabetes in 1999, but I know I've had it at least 15 or 20 years before that. I have been able to control my blood-sugar levels most of the time, but as I get older, it is harder for me to control. I now can't eat many of the things that I used to enjoy without my tests reading way too high. I am on Glipizide and Metformin prescriptions. I take a 500 mg. Metformin before I eat a meal. I don't eat large meals, but I try to eat small portions and eat more often. and I also take a Glipizide 10 mg. with the Metformin if I eat starchy, or sweet things. My readings should stay between 100 and 120, but one of my doctors told me to keep it under 150. I have to try harder now to do that.
</p>
                                </div>
                                <ul>
                                    <li><a href="#">Read more</a></li>
                                    <li><a href="#">Share this</a></li>
                                    <li><a href="#">Become a member</a></li>
                                    <li><a href="#">Donate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>      
      
    </div> <!-- /container -->
		




{% endblock %}

